* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90%;
  border-radius: 10px;
}
.player1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45%;
  width: 100%;
  background-color: aquamarine;
  gap: 11%;
}
.total-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  background-color: blueviolet;
}
.player2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45%;
  width: 100%;
  background-color: burlywood;
  gap: 11%;
}

.player2-details,
.player1-details {
  display: flex;
  gap: 50px;
}
